.PokemonOverview {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
}

.buttonContainer {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    max-width: 1000px;
}

button {
    padding: 25px;
}